@charset "UTF-8";
body {
  background: #ffffff;
  text-decoration: none;
  width: 100%;
  height: 100%;
}

body, form, div, p, a, img, h1, h2, h3, h4, h5, h6, table, table tr, table td {
  border: none;
  color: #ffffff;
  font-family: Arial;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

input,
textarea,
select {
  outline: none;
  font-family: Arial;
  font-size: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input::-webkit-input-placeholder {
  color: #999999;
  font-weight: 400;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 14px;
  letter-spacing: 2px;
}

a {
  text-decoration: none;
  outline: none;
}

a:hover {
  text-decoration: none;
}

h1, h2 {
  font-size: 20px;
  padding: 0 0 10px 0;
  color: #fff;
}

.block-slide {
  background-size: cover;
  background-position: center;
}

.block-slide__mainer {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 15px;
}

.block-slide--bg-mountains {
  background-image: url(../images/bg/bg-mountains.png);
}

@media screen and (max-width: 768px) {
  .block-slide--bg-mountains {
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.5))), url(../images/bg/bg-mountains.png);
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url(../images/bg/bg-mountains.png);
    background-position: center;
  }
}

.block-slide--bg-color-blue {
  background-color: #5474fd;
  position: relative;
}

.block-slide--bg-church {
  background-image: url(../images/bg/bg-church.png);
}

.block-slide--bg-сolor-dark-grey {
  background-color: #333;
}

.block-slide--bg-home {
  background-image: url(../images/bg/bg-home.png);
}

@media screen and (max-width: 768px) {
  .block-slide--bg-home {
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.6))), url(../images/bg/bg-home.png);
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)), url(../images/bg/bg-home.png);
    background-position: center;
  }
}

.block-slide--bg-view-sunset {
  background-image: url(../images/bg/bg-view-sunset.png);
}

@media screen and (max-width: 768px) {
  .block-slide--bg-view-sunset {
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.6))), url(../images/bg/bg-view-sunset.png);
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)), url(../images/bg/bg-view-sunset.png);
    background-position: center;
  }
}

.block-slide--bg-tourist {
  background-image: url(../images/bg/bg-tourist.png);
}

.block-slide--bg-сolor-black {
  background-color: #232323;
}

.page {
  text-align: center;
  padding-top: 270px;
  padding-bottom: 135px;
}

@media screen and (max-width: 768px) {
  .page {
    padding: 90px 0 30px 0;
  }
}

.page__main-title {
  font-family: "Josefin Sans", sans-serif;
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 7px;
  margin-bottom: 10px;
}

@media screen and (max-width: 480px) {
  .page__main-title {
    font-size: 30px;
  }
}

.page__sub-title {
  font-family: "Josefin Sans", sans-serif;
  font-size: 22px;
  letter-spacing: 7px;
  margin-bottom: 40px;
}

@media screen and (max-width: 480px) {
  .page__sub-title {
    letter-spacing: 1px;
  }
}

.page__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 650px;
  min-height: 60px;
  background-color: white;
  margin: 0 auto;
}

@media screen and (max-width: 680px) {
  .page__input {
    padding: 0 2px;
  }
}

.page__input-field {
  width: 500px;
  height: 56px;
  text-align: center;
  border: none;
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  color: #232323;
  padding: 0 10px;
}

.page__input-field:focus {
  border: 1px solid #5474fd;
}

.page__input-field:invalid:focus {
  border: 1px solid red;
}

.page__input-field::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

.page__input-field::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

.page__input-field::-webkit-search-decoration, .page__input-field::-webkit-search-cancel-button, .page__input-field::-webkit-search-results-button, .page__input-field::-webkit-search-results-decoration {
  display: none;
}

.page__input-button {
  width: 146px;
  height: 56px;
  font-family: "Aleo", serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: white;
  background-color: #5474fd;
  border: none;
  cursor: pointer;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.page__input-button:focus {
  outline: none;
}

.page__input-button:active {
  -webkit-transform: scale(0.98, 0.98);
          transform: scale(0.98, 0.98);
}

.page__input-button:hover {
  background-color: #14a154;
  -webkit-box-shadow: 0 0 7px 2px black;
          box-shadow: 0 0 7px 2px black;
}

.page__input-magnifier {
  font-size: 14px;
  display: inline-block;
  width: 15px;
  height: 15px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  border: 1px solid white;
  position: relative;
  border-radius: 50%;
  margin-left: 7px;
  margin-bottom: -2px;
}

@media screen and (max-width: 495px) {
  .page__input-magnifier {
    display: none;
  }
}

.page__input-magnifier::before {
  content: '';
  display: inline-block;
  position: absolute;
  right: -4px;
  bottom: -2px;
  border-width: 0;
  background: white;
  width: 7px;
  height: 1px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.page__scroll {
  margin-top: 120px;
  margin-bottom: 7px;
}

.page__scroll-down {
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  letter-spacing: 3px;
}

@media screen and (max-width: 768px) {
  .page__scroll-down {
    margin-top: 50px;
  }
}

.page__arrow {
  border: solid white;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 0;
  position: relative;
}

@media screen and (max-width: 768px) {
  .header-nav {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 11;
    padding: 0;
    margin: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.507);
  }
}

.header-nav__logo {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media screen and (max-width: 768px) {
  .header-nav__logo {
    display: none;
  }
}

.header-nav__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  .header-nav__nav {
    display: none;
    position: fixed;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 0;
    left: 0;
    padding-top: 150px;
    text-align: center;
    width: 100%;
    min-height: 100%;
    background-color: rgba(255, 255, 255, 0.616);
    -webkit-backdrop-filter: blur(2px);
            backdrop-filter: blur(2px);
    z-index: 10;
  }
}

.header-nav__nav-item {
  display: block;
  margin: 0 15px;
  font-family: "Aleo", serif;
  font-size: 14px;
  text-transform: uppercase;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

@media screen and (max-width: 768px) {
  .header-nav__nav-item {
    border: none !important;
    max-width: 200px;
    margin: 0 auto;
    padding: 20px 0;
    font-size: 18px;
    color: #232323;
  }
}

.header-nav__nav-item:hover {
  -webkit-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
  border-bottom: 1px solid white;
}

.header-nav__toggler {
  width: 35px;
  height: 22px;
  display: none;
  position: relative;
  z-index: 11;
}

@media screen and (max-width: 768px) {
  .header-nav__toggler {
    display: block;
    margin: 14px auto;
  }
}

.header-nav__toggler-line {
  width: 100%;
  height: 4px;
  background-color: white;
  display: block;
  border-radius: 5px;
  position: absolute;
  left: 0;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.header-nav__toggler-line:nth-child(1) {
  top: 0;
}

.header-nav__toggler-line:nth-child(2) {
  top: 50%;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.header-nav__toggler-line:nth-child(3) {
  bottom: 0;
}

.header-nav__toggler--open .header-nav__toggler-line:nth-child(1) {
  -webkit-transform: rotate(45deg) translateY(13px);
          transform: rotate(45deg) translateY(13px);
  margin-left: 9px;
  background-color: #232323;
}

.header-nav__toggler--open .header-nav__toggler-line:nth-child(2) {
  display: none;
}

.header-nav__toggler--open .header-nav__toggler-line:nth-child(3) {
  -webkit-transform: rotate(-45deg) translateY(-14px);
          transform: rotate(-45deg) translateY(-14px);
  margin-left: 9px;
  background-color: #232323;
}

.block-choose {
  padding: 120px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  .block-choose {
    padding: 40px 0;
  }
}

.block-choose__info {
  max-width: 540px;
  margin-right: 30px;
  padding-top: 70px;
}

@media screen and (max-width: 768px) {
  .block-choose__info {
    text-align: center;
    margin: 0 auto;
    padding: 0;
  }
}

.block-choose__info-title, .block-search-details__content-caption, .block-tourist__title {
  font-family: "Aleo", serif;
  font-size: 36px;
  margin-bottom: 50px;
}

@media screen and (max-width: 480px) {
  .block-choose__info-title, .block-search-details__content-caption, .block-tourist__title {
    font-size: 24px;
  }
}

.block-choose__info-description, .block-spain__info-description, .block-tourist__info-description .quote {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  color: #fff;
  opacity: 0.8;
  line-height: 26px;
  letter-spacing: 1px;
}

.block-choose__page-button, .block-spain__page-button {
  width: 225px;
  height: 60px;
  background-color: #5474fd;
  color: white;
  border: none;
  font-family: "Aleo", serif;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 40px;
  outline: none;
  cursor: pointer;
  position: relative;
  background: #496bfe;
  background: linear-gradient(45deg, #496bfe 0%, #496bfe 40%, #5474fd 40%, #5474fd 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#496bfe', endColorstr='#5474fd',GradientType=1 );
}

.block-choose__page-button:before, .block-spain__page-button:before, .block-choose__page-button:after, .block-spain__page-button:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.block-choose__page-button:before, .block-spain__page-button:before {
  bottom: 0;
  left: 0;
  border-left: 1px solid white;
  border-top: 1px solid white;
  -webkit-transition: 0s ease opacity .8s, .2s ease width .4s, .2s ease height .6s;
  transition: 0s ease opacity .8s, .2s ease width .4s, .2s ease height .6s;
}

.block-choose__page-button:after, .block-spain__page-button:after {
  top: 0;
  right: 0;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  -webkit-transition: 0s ease opacity .4s, .2s ease width , .2s ease height .2s;
  transition: 0s ease opacity .4s, .2s ease width , .2s ease height .2s;
}

.block-choose__page-button:hover:before, .block-spain__page-button:hover:before, .block-choose__page-button:hover:after, .block-spain__page-button:hover:after {
  height: 100%;
  width: 100%;
  opacity: 1;
}

.block-choose__page-button:hover:before, .block-spain__page-button:hover:before {
  -webkit-transition: 0s ease opacity 0s, .2s ease height, .2s ease width .2s;
  transition: 0s ease opacity 0s, .2s ease height, .2s ease width .2s;
}

.block-choose__page-button:hover:after, .block-spain__page-button:hover:after {
  -webkit-transition: 0s ease opacity .4s, .2s ease height .4s , .2s ease width .6s;
  transition: 0s ease opacity .4s, .2s ease height .4s , .2s ease width .6s;
}

.block-choose__page-button:hover, .block-spain__page-button:hover {
  background: #5474fd;
}

.block-choose__page-button:active, .block-spain__page-button:active {
  -webkit-transform: scale(0.98, 0.98);
          transform: scale(0.98, 0.98);
}

@media screen and (max-width: 768px) {
  .block-choose__page-button, .block-spain__page-button {
    width: 100%;
  }
}

.block-choose__images {
  max-width: 540px;
  padding-left: 65px;
}

@media screen and (max-width: 768px) {
  .block-choose__images {
    display: none;
  }
}

.block-choose__images-scale {
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.block-choose__images-scale:hover {
  -webkit-transform: scale(1.02, 1.02);
          transform: scale(1.02, 1.02);
  -webkit-box-shadow: 0 0 10px 0 #5474fd;
          box-shadow: 0 0 10px 0 #5474fd;
}

.block-choose__images-float {
  float: right;
  margin-top: 3px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.block-choose__images-float:hover {
  -webkit-transform: scale(1.02, 1.02);
          transform: scale(1.02, 1.02);
  -webkit-box-shadow: 0 0 10px 0 #5474fd;
          box-shadow: 0 0 10px 0 #5474fd;
}

.block-search-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 100px 0 50px 0;
}

@media screen and (max-width: 768px) {
  .block-search-details {
    padding: 40px 0 0 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.block-search-details__content {
  margin: 0 70px;
  text-align: center;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  position: relative;
}

.block-search-details__content:not(:first-child):before {
  content: '';
  position: absolute;
  width: 395px;
  height: 60px;
  left: -276px;
  top: -63px;
  background-image: url(../images/icon/dotted-line.png);
}

@media screen and (max-width: 1140px) {
  .block-search-details__content:not(:first-child):before {
    background-image: none;
  }
}

.block-search-details__content-icon-search {
  width: 70px;
  height: 70px;
  fill: #5474fd;
  margin-bottom: 20px;
}

.block-search-details__content-icon-angle {
  width: 70px;
  height: 70px;
  fill: #ee5f5f;
  margin-bottom: 20px;
}

.block-search-details__content-icon-like {
  width: 70px;
  height: 70px;
  fill: #00a2ff;
  margin-bottom: 20px;
}

@media screen and (max-width: 480px) {
  .block-search-details__content-caption {
    font-size: 22px;
  }
}

.block-twin {
  padding-top: 230px;
  padding-bottom: 100px;
  max-width: 540px;
}

@media screen and (max-width: 768px) {
  .block-twin {
    margin: 0 auto;
    padding: 10px 0;
  }
}

@media screen and (max-width: 560px) {
  .block-twin {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.block-twin--float {
  margin-left: auto;
  margin-right: 0;
}

@media screen and (max-width: 768px) {
  .block-twin--float {
    margin: 0 auto;
  }
}

.block-spain {
  padding: 50px 50px 50px 30px;
  background-color: #232323d7;
}

@media screen and (max-width: 768px) {
  .block-spain {
    text-align: center;
    padding: 40px 0;
    background-color: transparent;
  }
}

.block-spain__caption, .block-tourist__info-description .name {
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  color: #fff;
  margin-bottom: 30px;
  opacity: 0.9;
}

.block-spain__caption--uppercase {
  text-transform: uppercase;
}

.block-spain__info-description, .block-tourist__info-description .quote {
  letter-spacing: 0;
}

.block-tourist {
  padding: 120px 0 200px 0;
}

@media screen and (max-width: 768px) {
  .block-tourist {
    padding: 40px 0 30px 0;
  }
}

.block-tourist__title {
  text-align: center;
}

@media screen and (max-width: 480px) {
  .block-tourist__title {
    margin-bottom: 30px;
  }
}

.block-tourist__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #333;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

@media screen and (max-width: 1100px) {
  .block-tourist__info-image {
    width: 0;
  }
}

.block-tourist__info-description {
  padding: 50px 55px 50px 60px;
}

@media screen and (max-width: 1100px) {
  .block-tourist__info-description {
    text-align: center;
  }
}

.block-tourist__info-description .name {
  text-transform: uppercase;
}

.block-tourist__info-description .quote {
  letter-spacing: 0;
  position: relative;
  text-indent: 30px;
}

.block-tourist__info-description .quote::before {
  content: '“';
  position: absolute;
  left: -35px;
  top: 15px;
  font-size: 80px;
  color: #5474fd;
  font-family: 'Mina', sans-serif;
}

.block-footer {
  padding: 120px 0 50px 0;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .block-footer {
    padding: 45px 0 30px 0;
  }
}

.block-footer__logo {
  font-family: "Josefin Sans", sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.block-footer__caption {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
  margin-bottom: 25px;
}

.block-footer__nav {
  list-style: none;
  padding: 0;
}

.block-footer__nav-icon {
  display: inline;
  margin: 0 12px;
}

.block-footer__nav-icon-item {
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  font-size: 16px;
}

.block-footer__nav-icon-item:hover {
  color: #5474fd;
  -webkit-transform: scale(1.25, 1.25);
          transform: scale(1.25, 1.25);
}

.ie9 .page__input {
  padding: 2px;
}
/*# sourceMappingURL=main.css.map */